<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login  Form</title>
</head>
<body>
    <h2>Login  Form</h2>
	<form th:action="@{/loginuser}" th:object="${user}" method="post">
	    <label>Name:</label>
	    <input type="text" th:field="*{username}" required /><br/><br/>
        <label>Password:</label>
	    <input type="password" th:field="*{password}" required /><br/><br/>
		<br>
	    <button type="submit">Register</button>
	</form>
	<h2 th:text="${message}"></h2>
</body>
</html>
